<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Facebook Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
    <script>
        function statusChangeCallback(response) { // Called with the results from FB.getLoginStatus().
            console.log('statusChangeCallback');
            console.log(response); // The current login status of the person.
            if (response.status === 'connected') { // Logged into your webpage and Facebook.
                testAPI();
            } else { // Not logged into your webpage or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this webpage.';
            }
        }

        function checkLoginState() { // Called when a person is finished with the Login Button.
            FB.getLoginStatus(function(response) { // See the onlogin handler
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function() {
            FB.init({
                appId: '236249524903916',
                cookie: true, // Enable cookies to allow the server to access the session.
                xfbml: true, // Parse social plugins on this webpage.
                version: 'v10.0' // Use this Graph API version for this call.
            });

            FB.getLoginStatus(function(response) { // Called after the JS SDK has been initialized.
                statusChangeCallback(response); // Returns the login status.
            });
        };

        function testAPI() { // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
                console.log('Successful login for: ' + Object.keys(response));

                console.log("response: ", response.id, response.name);
                const res = axios.post('/auth/facebook', {
                    data: {
                        socialID: response.id,
                        name: response.name,
                        social: 'facebook'
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then(res => {
                    console.log("res: ", res);
                }).catch(e => {
                    console.log("errro: ", e);
                })


                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>

    <div class="container">


        <div class="row">
            <div class="col-sm-8">
                <div id="googleRespo"></div>
                <div id="facebookResp">
                    <div id="status"></div>
                </div>
            </div>

            <div class="col-sm-4">
                <div id="loginGoogle">
                    <div class="col-sm-4">
                        <div class="card social-block">
                            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">

                                <i class="fab fa-google"></i> Sign Up with Google
                            </a>
                        </div>
                    </div>
                </div>
                <div id="loginFacebook">
                    <div class="col-sm-4">
                        <div class="card social-block">

                            <!-- The JS SDK Login Button -->

                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                            </fb:login-button>

                        </div>
                    </div>
                </div>
                <div id="loginTwitter">
                    <div class="col-sm-4">
                        <div class="card social-block">
                            <div class="b04__image  b04__image--fixed">
                                <a href="/auth/twitter/authenticate">
                                    <picture>
                                        <source srcset="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.twimg.768.png" media="(max-width: 767px)">
                                        <source srcset="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.twimg.2560.png" media="(min-width: 1920px)">
                                        <img src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.twimg.1920.png" style="width: 158px" data-src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.twimg.1920.png"
                                            alt="Accedi con il pulsante Twitter" data-object-fit="cover" class="b04__img b04__img-cover b04__img--fixed is-aligned-left lazyloaded">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Load the JS SDK asynchronously -->
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    </div>
</body>


<!-- <script src="./js/script.js"></script> -->


<!-- BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</html>